@font-face{
    font-family: futura;
    src: url(assets/Futura-Bold.woff2);
}
@font-face{
    font-family: helcont2;
    src: url(assets/HelveticaNowText-Regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
::selection{
    background-color: black;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
    position: relative;
}
/* #main{
    height: 600vh;
} */
nav{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.navLogo svg{
    height: 68px;
    width: 86px;
}
nav .navham{
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}
.navham span{
    margin-bottom: 5px;
    width:20px;
    height: 1px;
    background-color: black;
}
nav .part2{
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 0.7rem 0;
    padding-inline-end: 1rem;
}
.cont1,nav{
    font-family: futura, sans-serif;
}
.cont1 h1{
    font-size: clamp(48px,12.6vw,230px);
    white-space: nowrap;
    letter-spacing: -0.5vw;
    line-height: 11vw;
    text-transform: uppercase;
    padding-top: 19vh;
    padding-inline: 1rem;
}
.cont1 h1 div{
    display: inline-block;
    overflow: hidden;
    padding: 1vw;
}
.cont1 h1 p{
    display: inline-block;
}
.cont1 .videoCont{
    cursor: none;
    padding: 0 1rem;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.cont1 video{
    position: relative;
    object-position: center;
    object-fit: cover;
    width: 100%;
}
.cont1 .play{
    transition: 0.2s all;
    transition-timing-function: ease;
    /* transition: 0.3s transform; */
    /* transition-timing-function: ease-in; */
    /* pointer-events: none; */
    /* cursor: none; */
    width: 130px;
    height: 130px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cont2{
    padding-inline: 1rem;
    font-family: helcont2, sans-serif ;
}
.cont2 .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: helcont2, sans-serif;
    font-size: 12px;
    border-bottom: 1px solid black;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
}
.cont2 .imageDivCont{
    display: flex;
    flex-direction: column;
}
.cont2 .imageDivCont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
.cont2 .imageDiv{
    height: 90vh;
    /* background-color: red; */
    margin-bottom: 1rem;
    /* background-size: cover;
    background-position: top center ; */
    position: relative;
    overflow: hidden;
}
.cont2 .imageDiv img{
    transform: scale(1.2);
}
.cont2 .floatingMenu{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 290px;
    height: 50px;
    top: 50%;
    left: 50%;
    padding: 0 1rem;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 40px;
}
.cont2 .floatingMenu p{
    margin-top: 0.2rem;
}
.cont2 .floatingMenu p:nth-of-type(2){
    font-weight: 1000;
}

.cont2 .floatingMenu .dot{
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
}
.cont2 #imageDiv1 .floatingMenu{
    background-color: #c1aaa3;
}
.cont2 #imageDiv2 .floatingMenu{
    background-color: #f2dccb;
}
.cont2 #imageDiv3 .floatingMenu{
    background-color: white;
}
/* .cont2 #imageDiv1{
    background-image: url(assets/Rectangle\ 3.png);
}
.cont2 #imageDiv2{
    background-image: url(assets/Rectangle\ 2.png);
}
.cont2 #imageDiv3{
    background-image: url(assets/Rectangle\ 220.png);
} */

.cont3{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 1.3rem;
}
.cont3 .left{
    font-family: helvetica, sans-serif;
    font-size: 22px;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.cont3 .right{
    font-weight: 400;
    font-family: futura, sans-serif;
}
.cont3 .right p:first-child{
    margin-bottom: 1rem;
}
.cont4{
    padding-block: 10vh 12vh;
    padding-inline: 2vw;
    display: grid;
    grid-template-columns: 50vw 50vw;
    text-align: center;
}
.cont4 .item{
    font-family: helvetica, sans-serif;
    font-size: 16px;
}
.cont4 .item img{
    width: 80%;
    max-width: 300px;
    margin: auto;
}